handex.io.code-workspace
themes/*
node_modules
resources/**.blend
*.blend1
**/*.blend
**/*.blend1
assets/images/blender
resources/*
public/
public
jj
resources/_gen

static/js/NextCharsDisplay.js
static/js/NextCharsDisplay.js.map
static/js/Timer.js
static/js/Timer.js.map
static/js/terminal/HandexTerm.js
static/js/terminal/HandexTerm.js.map
static/js/terminal/XtermAdapter.js
static/js/terminal/XtermAdapter.js.map
static/js/NextCharsDisplay.js.map
static/js/NextCharsDisplay.js
static/js/Timer.js
*.code-workspace
*.gz