textarea {
    background-color: white;

}

textarea#testArea {
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    max-width: 100%;
    min-height: 70px;
    margin-top: 0px;
}

#chord-area {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

#chordList {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

#testAreaDiv {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

svg g {
    align-items: left;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: lightblue;
    color: black;
}

#svgCharacter {
    float: left;
    margin: 0;
    width: 80px;
    font-size: 110px;
    line-height: 0.6em;
    height: 110px;
    padding-top: 20px;
    padding-bottom: 0px;
    color: black;
    border: 1px solid grey;
    overflow: hidden;
}

.chordified div.col-sm-2 {
    width: 12.5%;
    flex: none;
    padding: 0 0 10px 0;
    margin: 0;
}

.chordified div:after {
    background-image: "images/hand-chord.svg";
}

.chordified div span {
    color: black;
    margin: 0;
    font-size: 1.4em;
    line-height: 1em;
    padding: 0;
    font-weight: bold;
    float: left;
    font-family: monospace;
}

.chordified img {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

#wholePhraseChords img {
    width: 100%;
    padding: 0;
    margin: 0;
}

#wholePhraseChords>div.next {
    background-color: lightblue;
}

#wholePhraseChords>div.error {
    border: 2px solid red;
}

#chord-image-holder img {
    margin: 0;
    padding: 0;
}

#charTimes {
    font-family: monospace;
    list-style-type: none;
    color: black;
}

#charTimes li {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

#charTimes li::before {
    content: "";
    display: none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

section.page-header {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0 !important;
    margin-bottom: 0;
}

section.section {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0 !important;
    margin-bottom: 0;
}
div.main-content {
    padding: 0;
    margin: 0 !important;
}
section.section div.container {
    padding: 0;
    margin: 0 !important;
    max-width: 100%;
}

div#video-section {
    z-index: -100;
    position: relative;
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
}

.phrase-over-video {
    position: relative;
    top: 180px;
    left: 0px;
    width: 80%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5em;
    font-family: 'Fira Code', monospace;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.test-over-video {
    position: relative;
    top: -150px;
    left: 20px;
    width: 90%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}