pre.bold {
   font-weight: bold;
   font-size: 12px;
}

textarea#testArea {
   font-size: 20px;
   font-weight: bold;
   font-family: monospace;
   max-width: 100%;
   min-height: 70px;
   margin-top: 0px;
}
svg g {
   align-items: left;   
}

.chordified div div {
   float: left;
   font-family: monospace;
}

.chordified div div.next {
   padding: 0;
   font-weight: bold;
}
.chordified div:after {
   background-image: "images/hand-chord.svg";
}

.chordified div div span {
   color: black;
   margin: 0;
   font-size: 1.4em;
   line-height: 0.6em;
}
.chordified img {
   width: 100%;
   padding-left: 0;
   padding-right: 0;
   margin-left: 0;
   margin-right: 0;
   margin-top: 0;
}

.chordified div div.next span {
   padding: 0;
   margin: 0;
}

#wholePhraseChords div.col-sm-2 {
   width: 12.5%;
   flex: none;
   padding: 0 0 10px 0;
   margin: 0;
}
#wholePhraseChords img {
   width: 100%;
   padding: 0;
   margin: 0;
}
#wholePhraseChords > div.next  {
   background-color: lightblue;
}
#chord-image-holder img{
   margin: 0;
   padding: 0;
}
