pre.bold {
    font-weight: bold;
    font-size: 12px;
}
textarea#testArea {
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    max-width: 100%;
    min-height: 70px;
    margin-top: 0px;
 }
 #chordified div {
   float: left;
   font-family: monospace;
 }
 #chordified div.outstanding {
    color: #630;
    font-weight: bold;
    padding: 0 4px;
 }
 #chordified div.next {
    color: #630;
    border: 1px solid #A30;
    background-color: #9F9;
    border-radius: 4px;
    padding: 0 6px;
    font-weight: bold;
    font-size: 1.2em;
 }
 #chordified div.completed {
    color: #690;
    text-decoration: line-through;
 }