pre.bold {
   font-weight: bold;
   font-size: 12px;
}

textarea#testArea {
   font-size: 20px;
   font-weight: bold;
   font-family: monospace;
   max-width: 100%;
   min-height: 70px;
   margin-top: 0px;
}
svg g {
   align-items: left;   
}

.chordified div {
   float: left;
   font-family: monospace;
   font-size: 0.6em;
}

.chordified div.outstanding {
   color: #630;
   font-weight: bold;
   padding: 0 4px;
}

.chordified div.next {
   color: #630;
   border: 1px solid #3A0;
   background-color: #9F9;
   border-radius: 4px;
   padding: 0 6px 0 0;
   font-weight: bold;
   font-size: 1.2em;
   line-height: 1.4em;
}
.chordified div.next:after {
   background-image: "images/hand-chord.svg";
}

.chordified div span {
   color: black;
   margin: 0 4px 0 0;
}

.chordified div.next span {
   font-size: 1.4em;
   background-color: #FA6;
   padding: 0 8px 0 4px;
}

.chordified div.completed {
   color: #690;
}
.chordified div.completed span {
   color: black;
}
#chord-image-holder img{
   margin: 0;
   padding: 0;
}