{{ $headless := .Site.GetPage "/sections" }}
{{ $reg := $headless.Resources.GetMatch (printf "*%s*" "register") }}

<div id="register" class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-800">
    <div class="self-center text-center w-full xl:w-2/3 px-4 sm:px:0">
        <h2 class="font-bold tracking-widest text-gray-200 text-4xl mb-4">{{ $reg.Title }}</h2>
        <div class="font-light text-gray-400 text-xl">
            {{ $reg.Content }}
        </div>
        <!-- Make this form post to my AWS lambda function -->
        <form class="w-full max-w-full my-20 mx-auto" id="registration-form" validate>
            <div class="flex items-center border-b border-pink-600 py-2">
                <input class="appearance-none bg-transparent border border-transparent w-full text-gray-200 focus:outline-none focus:bg-gray-400 focus:text-gray-800 focus:border-gray-400 mr-3 py-2 px-3" type="email" value="" name="email" placeholder="your@email.com" aria-label="Email Address" required>
            <label class="block text-gray-200 text-left px-2 mt-4" for="gdpr_37169">
                <input class="leading-tight" type="checkbox" id="gdpr_37169" name="gdpr[37169]" value="Y" required>
                <span class="text-md font-light">
                    I agree with the <a href="/privacy" class="underline hover:no-underline hover:text-pink-600" title="Privacy Policy" target="_blank">Privacy Policy</a>
                </span>
            </label>
                <button class="flex-shrink-0 bg-pink-600 border-pink-600 hover:bg-gray-800 hover:text-pink-600 border text-gray-200 py-2 px-4" type="submit" name="subscribe">
                    Sign Up
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    let tag = "form#registration-form";
    let regForm = document.querySelector(tag);
    regForm.onsubmit = async (e) => {
        e.preventDefault();
        url = {{ .Site.Params.signupUrl}};
        e.submitter.textContent = "Submitting";
        e.submitter.disabled = true;
        e.target.elements.email.disabled = true;
        try {
            const contactForm = e.target;
            const formData = {};
            for (var i = 0; i < contactForm.length-1; i++){
                if(contactForm[i].value) formData[contactForm[i].name] = contactForm[i].value
            }
            // const myform = new FormData(e.target);
            let data = JSON.stringify(formData);
            console.log(data);
            const response = await fetch(url, {
                method: "POST",
                body: data,
            });

            if (!response.ok) {
                return Promise.reject(response);
            }
            const result = await response.json();
            e.submitter.style.backgroundColor = "#EEFFEE";
            e.submitter.textContent = "Email submitted. Thanks."
            return result;
        } catch (error) {
            console.log(error);
        }
    };
</script>