<!DOCTYPE html>
<html data-name="html-terminal" lang='{{ .Site.LanguageCode | default "en-US" }}'>

<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    {{ partial "favicon.html" . }}
    <link rel="stylesheet" href="/css/xterm.css" />
    <link rel="stylesheet" href="/css/handexercizer.css">
    <link rel="stylesheet" href="/css/terminal.css">
    {{- $options := dict "target" "es2020" }}
    {{ if .Site.IsServer }}
    {{/* Development settings */}}
    {{- $options = merge $options (dict "sourcemap" "inline") }}
    {{ else }}
    {{/* Production settings */}}
    {{- $options = merge $options (dict "minify" true) }}
    {{ end }}
    {{- $typescript := resources.Get "ts/react-app/index.tsx" | js.Build $options }}
    <script src="{{ $typescript.RelPermalink }}"></script>
    <style>
    </style>
</head>

<body>
    <div id="root"></div>
</body>

</html>