<!DOCTYPE html>
<html data-name="html-terminal" lang='{{ .Site.LanguageCode | default "en-US" }}'>

<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    {{ partial "favicon.html" . }}
    <link rel="stylesheet" href="/css/xterm.css" />
    <link rel="stylesheet" href="/css/handexercizer.css">
    <link rel="stylesheet" href="/css/terminal.css">
    {{ $typescript := resources.Get "ts/terminal/main.ts" }}
    {{ $transpiledJs := $typescript | js.Build (dict "target" "es2015") }}
    <script src="{{ $transpiledJs.RelPermalink }}"></script>
    <style>
    </style>
</head>

<body>
    <div id="terminal-nav" class="terminal-nav" hidden>
        <code>{{ .Title }}</code>
        <div class="col-sx-9" style="width: 80%;">
            <div class="chord-navigation">
                <div class="key-container">
                    <img id="backspaceSvg" alt="backspace" src="/images/svgs/B.svg" />
                    <label for="backspaceSvg" style="padding: 5px; color: gray;">Back</label>
                </div>
                <div class="key-container">
                    <img id="move-left" alt="move-left" src="/images/svgs/1B.svg" />
                    <label for="move-left" style="padding: 5px; color: gray;">Move<br />Left</label>
                </div>
                <div class="key-container">
                    <img id="move-right" alt="move-right" src="/images/svgs/2C.svg" />
                    <label for="move-right" style="padding: 5px; color: gray;">Move<br />Right</label>
                </div>
                <div class="key-container">
                    <img id="tab-key" alt="tab-key" src="/images/svgs/94.svg" />
                    <label for="tab-key" style="padding: 5px; color: gray;">Tab</label>
                </div>
                <div class="key-container">
                    <img id="home-key" alt="home-key" src="/images/svgs/B1.svg" />
                    <label for="home-key" style="padding: 5px; color: gray;">Home</label>
                </div>
                <div class="key-container">
                    <img id="end-key" alt="end-key" src="/images/svgs/C2.svg" />
                    <label for="end-key" style="padding: 5px; color: gray;">End</label>
                </div>
                <div class="key-container">
                    <img id="select-key" alt="select-key" src="/images/svgs/313.svg" />
                    <label for="select-key" style="padding: 5px; color: gray;">Select</label>
                </div>
                <div class="key-container">
                    <img id="select-key" alt="select-key" src="/images/svgs/71.svg" />
                    <label for="select-key" style="padding: 5px; color: gray;">Up</label>
                </div>
                <div class="key-container">
                    <img id="select-key" alt="select-key" src="/images/svgs/73.svg" />
                    <label for="select-key" style="padding: 5px; color: gray;">Down</label>
                </div>
                <div class="key-container">
                    <img id="select-key" alt="select-key" src="/images/svgs/E.svg" />
                    <label for="select-key" style="padding: 5px; color: gray;">Caps<br />Lock</label>
                </div>
            </div>
        </div>
    </div>
    <div id="timer"></div>
    <svg id="timerSvg" width="15" height="20" style="float: left;"></svg>
    <pre id="nextChars" class="nextChars"></pre>
    <div id="terminal" class="terminal-full-page"></div>

</body>
</html>