<!-- profile/login -->
<div id="userProfile" class="profile-login d-flex align-items-center">
    {{ if site.Params.profile.enable }}
        <div class="profile">
            <a href="{{ site.Params.profile.link | relLangURL }}">
                <img loading="lazy" decoding="async" src="{{ site.Params.profile.image }}" alt="{{ site.Params.profile.name }}">
            </a>
        </div>
    {{ end }}
    {{ if site.Params.login.enable }}
        <div class="login">
            <a href="{{ site.Params.login.link | relLangURL }}">
                <!-- {{ site.Params.login.text }} -->
                <i class="fas fa-user"></i>
            </a>
        </div>
    {{ end }}
</div>