<div id="allChordsList" class="col-sm-12 row chordified" hidden >
	<div class="col-sm-2 row generated" id="ipf">
		<span id="chara">a</span>
		<img loading="lazy" alt="ipf" src="/images/svgs/ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ipf">
		<span id="charA">A</span>
		<img loading="lazy" alt="tmf_ipf" src="/images/svgs/tmf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ppf_mmf">
		<span id="charb">b</span>
		<img loading="lazy" alt="ppf_mmf" src="/images/svgs/ppf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ppf_mmf">
		<span id="charB">B</span>
		<img loading="lazy" alt="tmf_ppf_mmf" src="/images/svgs/tmf_ppf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_mpf">
		<span id="charc">c</span>
		<img loading="lazy" alt="ipf_mpf" src="/images/svgs/ipf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ipf_mpf">
		<span id="charC">C</span>
		<img loading="lazy" alt="tmf_ipf_mpf" src="/images/svgs/tmf_ipf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_rpf">
		<span id="chard">d</span>
		<img loading="lazy" alt="mpf_rpf" src="/images/svgs/mpf_rpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_rpf">
		<span id="charD">D</span>
		<img loading="lazy" alt="tmf_mpf_rpf" src="/images/svgs/tmf_mpf_rpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf">
		<span id="chare">e</span>
		<img loading="lazy" alt="mpf" src="/images/svgs/mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf">
		<span id="charE">E</span>
		<img loading="lazy" alt="tmf_mpf" src="/images/svgs/tmf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_ipf">
		<span id="charf">f</span>
		<img loading="lazy" alt="mpf_ipf" src="/images/svgs/mpf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_ipf">
		<span id="charF">F</span>
		<img loading="lazy" alt="tmf_mpf_ipf" src="/images/svgs/tmf_mpf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_mmf">
		<span id="charg">g</span>
		<img loading="lazy" alt="mpf_mmf" src="/images/svgs/mpf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_mmf">
		<span id="charG">G</span>
		<img loading="lazy" alt="tmf_mpf_mmf" src="/images/svgs/tmf_mpf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_rmf">
		<span id="charh">h</span>
		<img loading="lazy" alt="pmf_rmf" src="/images/svgs/pmf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_rmf">
		<span id="charH">H</span>
		<img loading="lazy" alt="tmf_pmf_rmf" src="/images/svgs/tmf_pmf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="imf_tpf">
		<span id="chari">i</span>
		<img loading="lazy" alt="imf_tpf" src="/images/svgs/imf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_imf_tpf">
		<span id="charI">I</span>
		<img loading="lazy" alt="tmf_imf_tpf" src="/images/svgs/tmf_imf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="imf_ipf">
		<span id="charj">j</span>
		<img loading="lazy" alt="imf_ipf" src="/images/svgs/imf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_imf_ipf">
		<span id="charJ">J</span>
		<img loading="lazy" alt="tmf_imf_ipf" src="/images/svgs/tmf_imf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_mpf">
		<span id="chark">k</span>
		<img loading="lazy" alt="rpf_mpf" src="/images/svgs/rpf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rpf_mpf">
		<span id="charK">K</span>
		<img loading="lazy" alt="tmf_rpf_mpf" src="/images/svgs/tmf_rpf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_tpf">
		<span id="charl">l</span>
		<img loading="lazy" alt="rpf_tpf" src="/images/svgs/rpf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rpf_tpf">
		<span id="charL">L</span>
		<img loading="lazy" alt="tmf_rpf_tpf" src="/images/svgs/tmf_rpf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_mpf">
		<span id="charm">m</span>
		<img loading="lazy" alt="mmf_mpf" src="/images/svgs/mmf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mmf_mpf">
		<span id="charM">M</span>
		<img loading="lazy" alt="tmf_mmf_mpf" src="/images/svgs/tmf_mmf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ppf">
		<span id="charn">n</span>
		<img loading="lazy" alt="ppf" src="/images/svgs/ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ppf">
		<span id="charN">N</span>
		<img loading="lazy" alt="tmf_ppf" src="/images/svgs/tmf_ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="imf">
		<span id="charo">o</span>
		<img loading="lazy" alt="imf" src="/images/svgs/imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_imf">
		<span id="charO">O</span>
		<img loading="lazy" alt="tmf_imf" src="/images/svgs/tmf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_imf">
		<span id="charp">p</span>
		<img loading="lazy" alt="ipf_imf" src="/images/svgs/ipf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ipf_imf">
		<span id="charP">P</span>
		<img loading="lazy" alt="tmf_ipf_imf" src="/images/svgs/tmf_ipf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_tmf">
		<span id="charq">q</span>
		<img loading="lazy" alt="rmf_tmf" src="/images/svgs/rmf_tmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rmf_tmf">
		<span id="charQ">Q</span>
		<img loading="lazy" alt="tmf_rmf_tmf" src="/images/svgs/tmf_rmf_tmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf">
		<span id="charr">r</span>
		<img loading="lazy" alt="rpf" src="/images/svgs/rpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rpf">
		<span id="charR">R</span>
		<img loading="lazy" alt="tmf_rpf" src="/images/svgs/tmf_rpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf">
		<span id="chars">s</span>
		<img loading="lazy" alt="pmf" src="/images/svgs/pmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf">
		<span id="charS">S</span>
		<img loading="lazy" alt="tmf_pmf" src="/images/svgs/tmf_pmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf">
		<span id="chart">t</span>
		<img loading="lazy" alt="rmf" src="/images/svgs/rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rmf">
		<span id="charT">T</span>
		<img loading="lazy" alt="tmf_rmf" src="/images/svgs/tmf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf">
		<span id="charu">u</span>
		<img loading="lazy" alt="mmf" src="/images/svgs/mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mmf">
		<span id="charU">U</span>
		<img loading="lazy" alt="tmf_mmf" src="/images/svgs/tmf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tpf">
		<span id="charv">v</span>
		<img loading="lazy" alt="mmf_tpf" src="/images/svgs/mmf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mmf_tpf">
		<span id="charV">V</span>
		<img loading="lazy" alt="tmf_mmf_tpf" src="/images/svgs/tmf_mmf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_pmf">
		<span id="charw">w</span>
		<img loading="lazy" alt="rmf_pmf" src="/images/svgs/rmf_pmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rmf_pmf">
		<span id="charW">W</span>
		<img loading="lazy" alt="tmf_rmf_pmf" src="/images/svgs/tmf_rmf_pmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_ppf">
		<span id="charx">x</span>
		<img loading="lazy" alt="ipf_ppf" src="/images/svgs/ipf_ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ipf_ppf">
		<span id="charX">X</span>
		<img loading="lazy" alt="tmf_ipf_ppf" src="/images/svgs/tmf_ipf_ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ppf_ime">
		<span id="chary">y</span>
		<img loading="lazy" alt="ppf_ime" src="/images/svgs/ppf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ppf_ime">
		<span id="charY">Y</span>
		<img loading="lazy" alt="tmf_ppf_ime" src="/images/svgs/tmf_ppf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_tpf">
		<span id="charz">z</span>
		<img loading="lazy" alt="mpf_tpf" src="/images/svgs/mpf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_tpf">
		<span id="charZ">Z</span>
		<img loading="lazy" alt="tmf_mpf_tpf" src="/images/svgs/tmf_mpf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_imf">
		<span id="char1">1</span>
		<img loading="lazy" alt="pmf_ppf_imf" src="/images/svgs/pmf_ppf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_imf">
		<span id="char!">!</span>
		<img loading="lazy" alt="tmf_pmf_ppf_imf" src="/images/svgs/tmf_pmf_ppf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_ipf">
		<span id="char2">2</span>
		<img loading="lazy" alt="pmf_ppf_ipf" src="/images/svgs/pmf_ppf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_ipf">
		<span id="char@">@</span>
		<img loading="lazy" alt="tmf_pmf_ppf_ipf" src="/images/svgs/tmf_pmf_ppf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_imf_ipf">
		<span id="char3">3</span>
		<img loading="lazy" alt="pmf_ppf_imf_ipf" src="/images/svgs/pmf_ppf_imf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_imf_ipf">
		<span id="char#">#</span>
		<img loading="lazy" alt="tmf_pmf_ppf_imf_ipf" src="/images/svgs/tmf_pmf_ppf_imf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_ipf_imf">
		<span id="char4">4</span>
		<img loading="lazy" alt="pmf_ppf_ipf_imf" src="/images/svgs/pmf_ppf_ipf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_ipf_imf">
		<span id="char$">$</span>
		<img loading="lazy" alt="tmf_pmf_ppf_ipf_imf" src="/images/svgs/tmf_pmf_ppf_ipf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_ime">
		<span id="char5">5</span>
		<img loading="lazy" alt="pmf_ppf_ime" src="/images/svgs/pmf_ppf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_ime">
		<span id="char%">%</span>
		<img loading="lazy" alt="tmf_pmf_ppf_ime" src="/images/svgs/tmf_pmf_ppf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_mmf">
		<span id="char6">6</span>
		<img loading="lazy" alt="pmf_ppf_mmf" src="/images/svgs/pmf_ppf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_mmf">
		<span id="char^">^</span>
		<img loading="lazy" alt="tmf_pmf_ppf_mmf" src="/images/svgs/tmf_pmf_ppf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_mpf">
		<span id="char7">7</span>
		<img loading="lazy" alt="pmf_ppf_mpf" src="/images/svgs/pmf_ppf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_mpf">
		<span id="char&">&</span>
		<img loading="lazy" alt="tmf_pmf_ppf_mpf" src="/images/svgs/tmf_pmf_ppf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_mmf_mpf">
		<span id="char8">8</span>
		<img loading="lazy" alt="pmf_ppf_mmf_mpf" src="/images/svgs/pmf_ppf_mmf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_mmf_mpf">
		<span id="char*">*</span>
		<img loading="lazy" alt="tmf_pmf_ppf_mmf_mpf" src="/images/svgs/tmf_pmf_ppf_mmf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_mpf_mmf">
		<span id="char9">9</span>
		<img loading="lazy" alt="pmf_ppf_mpf_mmf" src="/images/svgs/pmf_ppf_mpf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_mpf_mmf">
		<span id="char(">(</span>
		<img loading="lazy" alt="tmf_pmf_ppf_mpf_mmf" src="/images/svgs/tmf_pmf_ppf_mpf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_ipf_mpf">
		<span id="char0">0</span>
		<img loading="lazy" alt="pmf_ppf_ipf_mpf" src="/images/svgs/pmf_ppf_ipf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_ipf_mpf">
		<span id="char)">)</span>
		<img loading="lazy" alt="tmf_pmf_ppf_ipf_mpf" src="/images/svgs/tmf_pmf_ppf_ipf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_tpf">
		<span id="charReturn (ENTER)">Return (ENTER)</span>
		<img loading="lazy" alt="ipf_tpf" src="/images/svgs/ipf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ppf_pmf">
		<span id="charESCAPE">ESCAPE</span>
		<img loading="lazy" alt="ppf_pmf" src="/images/svgs/ppf_pmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_tmf">
		<span id="charDELETE (Backspace)">DELETE (Backspace)</span>
		<img loading="lazy" alt="pmf_tmf" src="/images/svgs/pmf_tmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf">
		<span id="charTab">Tab</span>
		<img loading="lazy" alt="pmf_ppf" src="/images/svgs/pmf_ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tpf">
		<span id="char[ ]">[ ]</span>
		<img loading="lazy" alt="tpf" src="/images/svgs/tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime">
		<span id="char-">-</span>
		<img loading="lazy" alt="ime" src="/images/svgs/ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ime">
		<span id="char(underscore)">(underscore)</span>
		<img loading="lazy" alt="tmf_ime" src="/images/svgs/tmf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_ipf_tpf">
		<span id="char=">=</span>
		<img loading="lazy" alt="mpf_ipf_tpf" src="/images/svgs/mpf_ipf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_ipf_tpf">
		<span id="char+">+</span>
		<img loading="lazy" alt="tmf_mpf_ipf_tpf" src="/images/svgs/tmf_mpf_ipf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ppf_tmf">
		<span id="char[">[</span>
		<img loading="lazy" alt="ppf_tmf" src="/images/svgs/ppf_tmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ppf_tmf">
		<span id="char{">{</span>
		<img loading="lazy" alt="tmf_ppf_tmf" src="/images/svgs/tmf_ppf_tmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ppf_pmf_tmf">
		<span id="char]">]</span>
		<img loading="lazy" alt="ppf_pmf_tmf" src="/images/svgs/ppf_pmf_tmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ppf_pmf_tmf">
		<span id="char}">}</span>
		<img loading="lazy" alt="tmf_ppf_pmf_tmf" src="/images/svgs/tmf_ppf_pmf_tmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_ppf">
		<span id="char\">\</span>
		<img loading="lazy" alt="rpf_ppf" src="/images/svgs/rpf_ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rpf_ppf">
		<span id="char|">|</span>
		<img loading="lazy" alt="tmf_rpf_ppf" src="/images/svgs/tmf_rpf_ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_mmf">
		<span id="char;">;</span>
		<img loading="lazy" alt="rmf_mmf" src="/images/svgs/rmf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rmf_mmf">
		<span id="char:">:</span>
		<img loading="lazy" alt="tmf_rmf_mmf" src="/images/svgs/tmf_rmf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_imf_ipf">
		<span id="char'">'</span>
		<img loading="lazy" alt="ipf_imf_ipf" src="/images/svgs/ipf_imf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ipf_imf_ipf">
		<span id="char"">"</span>
		<img loading="lazy" alt="tmf_ipf_imf_ipf" src="/images/svgs/tmf_ipf_imf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_ime">
		<span id="char`">`</span>
		<img loading="lazy" alt="ipf_ime" src="/images/svgs/ipf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ipf_ime">
		<span id="char~">~</span>
		<img loading="lazy" alt="tmf_ipf_ime" src="/images/svgs/tmf_ipf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_mmf">
		<span id="char,">,</span>
		<img loading="lazy" alt="ipf_mmf" src="/images/svgs/ipf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ipf_mmf">
		<span id="char<"><</span>
		<img loading="lazy" alt="tmf_ipf_mmf" src="/images/svgs/tmf_ipf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ppf_tpf">
		<span id="char.">.</span>
		<img loading="lazy" alt="ppf_tpf" src="/images/svgs/ppf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ppf_tpf">
		<span id="char>">></span>
		<img loading="lazy" alt="tmf_ppf_tpf" src="/images/svgs/tmf_ppf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_pmf">
		<span id="char/">/</span>
		<img loading="lazy" alt="rpf_pmf" src="/images/svgs/rpf_pmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rpf_pmf">
		<span id="char?">?</span>
		<img loading="lazy" alt="tmf_rpf_pmf" src="/images/svgs/tmf_rpf_pmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pme">
		<span id="charCaps Lock">Caps Lock</span>
		<img loading="lazy" alt="pme" src="/images/svgs/pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_rpf_ipf">
		<span id="charF1">F1</span>
		<img loading="lazy" alt="ipf_rpf_ipf" src="/images/svgs/ipf_rpf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_rme">
		<span id="charF2">F2</span>
		<img loading="lazy" alt="ipf_rme" src="/images/svgs/ipf_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_mmf_tpf">
		<span id="charF3">F3</span>
		<img loading="lazy" alt="rpf_mmf_tpf" src="/images/svgs/rpf_mmf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_tpf">
		<span id="charF4">F4</span>
		<img loading="lazy" alt="ime_tpf" src="/images/svgs/ime_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_mme">
		<span id="charF5">F5</span>
		<img loading="lazy" alt="ipf_mme" src="/images/svgs/ipf_mme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_tpf_imf">
		<span id="charF6">F6</span>
		<img loading="lazy" alt="ime_tpf_imf" src="/images/svgs/ime_tpf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_ipf">
		<span id="charF7">F7</span>
		<img loading="lazy" alt="ime_ipf" src="/images/svgs/ime_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_mmf">
		<span id="charF8">F8</span>
		<img loading="lazy" alt="ime_mmf" src="/images/svgs/ime_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_mpf">
		<span id="charF9">F9</span>
		<img loading="lazy" alt="ime_mpf" src="/images/svgs/ime_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_mme">
		<span id="charF10">F10</span>
		<img loading="lazy" alt="ime_mme" src="/images/svgs/ime_mme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_rmf">
		<span id="charF11">F11</span>
		<img loading="lazy" alt="ime_rmf" src="/images/svgs/ime_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_rpf_ime">
		<span id="charF12">F12</span>
		<img loading="lazy" alt="ime_rpf_ime" src="/images/svgs/ime_rpf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_rme">
		<span id="charPrintScreen">PrintScreen</span>
		<img loading="lazy" alt="ime_rme" src="/images/svgs/ime_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_mmf">
		<span id="charScroll Lock">Scroll Lock</span>
		<img loading="lazy" alt="mmf_pme_mmf" src="/images/svgs/mmf_pme_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_tpf_imf">
		<span id="charPause">Pause</span>
		<img loading="lazy" alt="mpf_tpf_imf" src="/images/svgs/mpf_tpf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_tpf_tpf">
		<span id="charInsert">Insert</span>
		<img loading="lazy" alt="mpf_tpf_tpf" src="/images/svgs/mpf_tpf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_rmf">
		<span id="charHome">Home</span>
		<img loading="lazy" alt="mmf_rmf" src="/images/svgs/mmf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tme">
		<span id="charPageUp">PageUp</span>
		<img loading="lazy" alt="mmf_tme" src="/images/svgs/mmf_tme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_ime">
		<span id="charDelete Forward">Delete Forward</span>
		<img loading="lazy" alt="mmf_ime" src="/images/svgs/mmf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_mpf_mmf">
		<span id="charEnd">End</span>
		<img loading="lazy" alt="mmf_mpf_mmf" src="/images/svgs/mmf_mpf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_mpf_ipf">
		<span id="charPageDown">PageDown</span>
		<img loading="lazy" alt="ipf_mpf_ipf" src="/images/svgs/ipf_mpf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="imf_mmf">
		<span id="charRightArrow">RightArrow</span>
		<img loading="lazy" alt="imf_mmf" src="/images/svgs/imf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_imf">
		<span id="charLeftArrow">LeftArrow</span>
		<img loading="lazy" alt="mmf_imf" src="/images/svgs/mmf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_rme">
		<span id="charDownArrow">DownArrow</span>
		<img loading="lazy" alt="mmf_rme" src="/images/svgs/mmf_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_mmf_mpf">
		<span id="charUpArrow">UpArrow</span>
		<img loading="lazy" alt="mpf_mmf_mpf" src="/images/svgs/mpf_mmf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_tpf_mpf">
		<span id="charKeypad Num Lock">Keypad Num Lock</span>
		<img loading="lazy" alt="mpf_tpf_mpf" src="/images/svgs/mpf_tpf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_tpf_mpf">
		<span id="charClear">Clear</span>
		<img loading="lazy" alt="tmf_mpf_tpf_mpf" src="/images/svgs/tmf_mpf_tpf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_tme_mpf">
		<span id="charKeypad /">Keypad /</span>
		<img loading="lazy" alt="mpf_tme_mpf" src="/images/svgs/mpf_tme_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_imf">
		<span id="charKeypad *">Keypad *</span>
		<img loading="lazy" alt="mpf_imf" src="/images/svgs/mpf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_ipf_mpf">
		<span id="charKeypad -">Keypad -</span>
		<img loading="lazy" alt="mpf_ipf_mpf" src="/images/svgs/mpf_ipf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_ime">
		<span id="charKeypad +">Keypad +</span>
		<img loading="lazy" alt="mpf_ime" src="/images/svgs/mpf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_mmf_pme">
		<span id="charKeypad ENTER">Keypad ENTER</span>
		<img loading="lazy" alt="mpf_mmf_pme" src="/images/svgs/mpf_mmf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_mme_ppf">
		<span id="charKeypad 1">Keypad 1</span>
		<img loading="lazy" alt="mpf_mme_ppf" src="/images/svgs/mpf_mme_ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_mme_ppf">
		<span id="charEnd">End</span>
		<img loading="lazy" alt="tmf_mpf_mme_ppf" src="/images/svgs/tmf_mpf_mme_ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_rmf">
		<span id="charKeypad 2">Keypad 2</span>
		<img loading="lazy" alt="mpf_rmf" src="/images/svgs/mpf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_rmf">
		<span id="charDown Arrow">Down Arrow</span>
		<img loading="lazy" alt="tmf_mpf_rmf" src="/images/svgs/tmf_mpf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_rpf_mpf_mmf_rmf">
		<span id="charKeypad 3">Keypad 3</span>
		<img loading="lazy" alt="mpf_rpf_mpf_mmf_rmf" src="/images/svgs/mpf_rpf_mpf_mmf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_rpf_mpf_mmf_rmf">
		<span id="charPageDn">PageDn</span>
		<img loading="lazy" alt="tmf_mpf_rpf_mpf_mmf_rmf" src="/images/svgs/tmf_mpf_rpf_mpf_mmf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_rme">
		<span id="charKeypad 4">Keypad 4</span>
		<img loading="lazy" alt="mpf_rme" src="/images/svgs/mpf_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_rme">
		<span id="charLeft Arrow">Left Arrow</span>
		<img loading="lazy" alt="tmf_mpf_rme" src="/images/svgs/tmf_mpf_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_pme">
		<span id="charKeypad 5">Keypad 5</span>
		<img loading="lazy" alt="mme_pme" src="/images/svgs/mme_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_tpf">
		<span id="charKeypad 6">Keypad 6</span>
		<img loading="lazy" alt="mme_tpf" src="/images/svgs/mme_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mme_tpf">
		<span id="charRight Arrow">Right Arrow</span>
		<img loading="lazy" alt="tmf_mme_tpf" src="/images/svgs/tmf_mme_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_tme">
		<span id="charKeypad 7">Keypad 7</span>
		<img loading="lazy" alt="mme_tme" src="/images/svgs/mme_tme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mme_tme">
		<span id="charHome">Home</span>
		<img loading="lazy" alt="tmf_mme_tme" src="/images/svgs/tmf_mme_tme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_imf">
		<span id="charKeypad 8">Keypad 8</span>
		<img loading="lazy" alt="mme_imf" src="/images/svgs/mme_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mme_imf">
		<span id="charUp Arrow">Up Arrow</span>
		<img loading="lazy" alt="tmf_mme_imf" src="/images/svgs/tmf_mme_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_ipf">
		<span id="charKeypad 9">Keypad 9</span>
		<img loading="lazy" alt="mme_ipf" src="/images/svgs/mme_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mme_ipf">
		<span id="charPageUp">PageUp</span>
		<img loading="lazy" alt="tmf_mme_ipf" src="/images/svgs/tmf_mme_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_ime">
		<span id="charKeypad 0">Keypad 0</span>
		<img loading="lazy" alt="mme_ime" src="/images/svgs/mme_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mme_ime">
		<span id="charInsert">Insert</span>
		<img loading="lazy" alt="tmf_mme_ime" src="/images/svgs/tmf_mme_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_mmf_pme">
		<span id="charKeypad .">Keypad .</span>
		<img loading="lazy" alt="mme_mmf_pme" src="/images/svgs/mme_mmf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mme_mmf_pme">
		<span id="charDelete">Delete</span>
		<img loading="lazy" alt="tmf_mme_mmf_pme" src="/images/svgs/tmf_mme_mmf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_mpf_pme">
		<span id="charNon-US \">Non-US \</span>
		<img loading="lazy" alt="mme_mpf_pme" src="/images/svgs/mme_mpf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mme_mpf_pme">
		<span id="char|">|</span>
		<img loading="lazy" alt="tmf_mme_mpf_pme" src="/images/svgs/tmf_mme_mpf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_rmf">
		<span id="charApplication">Application</span>
		<img loading="lazy" alt="mme_rmf" src="/images/svgs/mme_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_rpf">
		<span id="charPower">Power</span>
		<img loading="lazy" alt="mme_rpf" src="/images/svgs/mme_rpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_rme">
		<span id="charKeypad =">Keypad =</span>
		<img loading="lazy" alt="mme_rme" src="/images/svgs/mme_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_pme">
		<span id="charF13">F13</span>
		<img loading="lazy" alt="rmf_pme" src="/images/svgs/rmf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_tpf">
		<span id="charF14">F14</span>
		<img loading="lazy" alt="rmf_tpf" src="/images/svgs/rmf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_tme">
		<span id="charF15">F15</span>
		<img loading="lazy" alt="rmf_tme" src="/images/svgs/rmf_tme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="imf_mme_imf">
		<span id="charF16">F16</span>
		<img loading="lazy" alt="imf_mme_imf" src="/images/svgs/imf_mme_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_tpf_ipf">
		<span id="charF17">F17</span>
		<img loading="lazy" alt="rmf_tpf_ipf" src="/images/svgs/rmf_tpf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_ime">
		<span id="charF18">F18</span>
		<img loading="lazy" alt="rmf_ime" src="/images/svgs/rmf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_mmf_rmf">
		<span id="charF19">F19</span>
		<img loading="lazy" alt="rmf_mmf_rmf" src="/images/svgs/rmf_mmf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_mpf">
		<span id="charF20">F20</span>
		<img loading="lazy" alt="rmf_mpf" src="/images/svgs/rmf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_mme">
		<span id="charF21">F21</span>
		<img loading="lazy" alt="rmf_mme" src="/images/svgs/rmf_mme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_rpf_rmf">
		<span id="charF22">F22</span>
		<img loading="lazy" alt="rmf_rpf_rmf" src="/images/svgs/rmf_rpf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_rme">
		<span id="charF23">F23</span>
		<img loading="lazy" alt="rmf_rme" src="/images/svgs/rmf_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_pme">
		<span id="charF24">F24</span>
		<img loading="lazy" alt="rpf_pme" src="/images/svgs/rpf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_tpf_ipf">
		<span id="charExecute">Execute</span>
		<img loading="lazy" alt="ipf_tpf_ipf" src="/images/svgs/ipf_tpf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme">
		<span id="charHelp">Help</span>
		<img loading="lazy" alt="mmf_pme" src="/images/svgs/mmf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_imf">
		<span id="charMenu">Menu</span>
		<img loading="lazy" alt="rpf_imf" src="/images/svgs/rpf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_ipf">
		<span id="charSelect">Select</span>
		<img loading="lazy" alt="rpf_ipf" src="/images/svgs/rpf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_ime">
		<span id="charStop">Stop</span>
		<img loading="lazy" alt="rpf_ime" src="/images/svgs/rpf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tme_mmf">
		<span id="charAgain">Again</span>
		<img loading="lazy" alt="mmf_tme_mmf" src="/images/svgs/mmf_tme_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_rpf_mpf">
		<span id="charUndo">Undo</span>
		<img loading="lazy" alt="mpf_rpf_mpf" src="/images/svgs/mpf_rpf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_mme">
		<span id="charCut">Cut</span>
		<img loading="lazy" alt="rpf_mme" src="/images/svgs/rpf_mme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_rmf">
		<span id="charCopy">Copy</span>
		<img loading="lazy" alt="rpf_rmf" src="/images/svgs/rpf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_rme_rpf">
		<span id="charPaste">Paste</span>
		<img loading="lazy" alt="rpf_rme_rpf" src="/images/svgs/rpf_rme_rpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_pme">
		<span id="charFind">Find</span>
		<img loading="lazy" alt="rme_pme" src="/images/svgs/rme_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_tpf_rme">
		<span id="charMute">Mute</span>
		<img loading="lazy" alt="rme_tpf_rme" src="/images/svgs/rme_tpf_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_tme">
		<span id="charVolume Up">Volume Up</span>
		<img loading="lazy" alt="rme_tme" src="/images/svgs/rme_tme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_imf">
		<span id="charVolume Down">Volume Down</span>
		<img loading="lazy" alt="rme_imf" src="/images/svgs/rme_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_ipf">
		<span id="charLocking Caps Lock">Locking Caps Lock</span>
		<img loading="lazy" alt="rme_ipf" src="/images/svgs/rme_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_ime">
		<span id="charLocking Num Lock">Locking Num Lock</span>
		<img loading="lazy" alt="rme_ime" src="/images/svgs/rme_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_mmf">
		<span id="charLocking Scroll Lock">Locking Scroll Lock</span>
		<img loading="lazy" alt="rme_mmf" src="/images/svgs/rme_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_mpf">
		<span id="charKeypad Comma">Keypad Comma</span>
		<img loading="lazy" alt="rme_mpf" src="/images/svgs/rme_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_mme">
		<span id="charKeypad Equal Sign">Keypad Equal Sign</span>
		<img loading="lazy" alt="rme_mme" src="/images/svgs/rme_mme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_rmf_mpf">
		<span id="charInternational1">International1</span>
		<img loading="lazy" alt="rme_rmf_mpf" src="/images/svgs/rme_rmf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_rpf_rme">
		<span id="charInternational2">International2</span>
		<img loading="lazy" alt="rme_rpf_rme" src="/images/svgs/rme_rpf_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tpf_tpf">
		<span id="charInternational3">International3</span>
		<img loading="lazy" alt="mmf_tpf_tpf" src="/images/svgs/mmf_tpf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_tpf">
		<span id="charInternational4">International4</span>
		<img loading="lazy" alt="mmf_pme_tpf" src="/images/svgs/mmf_pme_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_tme">
		<span id="charInternational5">International5</span>
		<img loading="lazy" alt="mmf_pme_tme" src="/images/svgs/mmf_pme_tme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_imf">
		<span id="charInternational6">International6</span>
		<img loading="lazy" alt="mmf_pme_imf" src="/images/svgs/mmf_pme_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="imf_pme_ipf">
		<span id="charInternational7">International7</span>
		<img loading="lazy" alt="imf_pme_ipf" src="/images/svgs/imf_pme_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_ime">
		<span id="charInternational8">International8</span>
		<img loading="lazy" alt="mmf_pme_ime" src="/images/svgs/mmf_pme_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_mmf_rpf">
		<span id="charInternational9">International9</span>
		<img loading="lazy" alt="mmf_pme_mmf_rpf" src="/images/svgs/mmf_pme_mmf_rpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_mpf">
		<span id="charLANG1">LANG1</span>
		<img loading="lazy" alt="mmf_pme_mpf" src="/images/svgs/mmf_pme_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_mme">
		<span id="charLANG2">LANG2</span>
		<img loading="lazy" alt="mmf_pme_mme" src="/images/svgs/mmf_pme_mme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_rmf">
		<span id="charLANG3">LANG3</span>
		<img loading="lazy" alt="mmf_pme_rmf" src="/images/svgs/mmf_pme_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_rpf">
		<span id="charLANG4">LANG4</span>
		<img loading="lazy" alt="mmf_pme_rpf" src="/images/svgs/mmf_pme_rpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_rme">
		<span id="charLANG5">LANG5</span>
		<img loading="lazy" alt="mmf_pme_rme" src="/images/svgs/mmf_pme_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tpf_mme">
		<span id="charLANG6">LANG6</span>
		<img loading="lazy" alt="mmf_tpf_mme" src="/images/svgs/mmf_tpf_mme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tpf_rmf">
		<span id="charLeftControl">LeftControl</span>
		<img loading="lazy" alt="mmf_tpf_rmf" src="/images/svgs/mmf_tpf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_pme">
		<span id="charLeftShift">LeftShift</span>
		<img loading="lazy" alt="ipf_pme" src="/images/svgs/ipf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tpf_rme">
		<span id="charLeftAlt">LeftAlt</span>
		<img loading="lazy" alt="mmf_tpf_rme" src="/images/svgs/mmf_tpf_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tme_pme">
		<span id="charLeft GUI">Left GUI</span>
		<img loading="lazy" alt="mmf_tme_pme" src="/images/svgs/mmf_tme_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tme_tpf">
		<span id="charRightControl">RightControl</span>
		<img loading="lazy" alt="mmf_tme_tpf" src="/images/svgs/mmf_tme_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_tme_mmf">
		<span id="charRightShift">RightShift</span>
		<img loading="lazy" alt="mmf_pme_tme_mmf" src="/images/svgs/mmf_pme_tme_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tme_imf">
		<span id="charRightAlt">RightAlt</span>
		<img loading="lazy" alt="mmf_tme_imf" src="/images/svgs/mmf_tme_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="imf_ipf_imf_ipf">
		<span id="charRight GUI">Right GUI</span>
		<img loading="lazy" alt="imf_ipf_imf_ipf" src="/images/svgs/imf_ipf_imf_ipf.svg" width="100" class="hand">
	</div>

</div>
