<div id="allChordsList" class="col-sm-12 row chordified" hidden >
	<div class="col-sm-2 row generated" id="">
		<span id="char0">a</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU0">A</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char1">b</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU1">B</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char2">c</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU2">C</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char3">d</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU3">D</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char4">e</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU4">E</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char5">f</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU5">F</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char6">g</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU6">G</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char7">h</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU7">H</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char8">i</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU8">I</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char9">j</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU9">J</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char10">k</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU10">K</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char11">l</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU11">L</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char12">m</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU12">M</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char13">n</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU13">N</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char14">o</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU14">O</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char15">p</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU15">P</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char16">q</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU16">Q</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char17">r</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU17">R</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char18">s</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU18">S</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char19">t</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU19">T</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char20">u</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU20">U</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char21">v</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU21">V</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char22">w</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU22">W</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char23">x</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU23">X</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char24">y</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU24">Y</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char25">z</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU25">Z</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char26">1</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU26">!</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char27">2</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU27">@</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char28">3</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU28">#</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char29">4</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU29">$</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char30">5</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU30">%</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char31">6</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU31">^</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char32">7</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU32">&</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char33">8</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU33">*</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char34">9</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU34">(</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char35">0</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU35">)</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char36">Return (ENTER)</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char37">ESCAPE</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char38">DELETE (Backspace)</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char39">\t</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char40">&#x2581;</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char41">-</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU41">(underscore)</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char42">=</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU42">+</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char43">[</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU43">{</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char44">]</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU44">}</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char45">\</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU45">|</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char46">;</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU46">:</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char47">'</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU47">"</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char48">`</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU48">~</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char49">,</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU49"><</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char50">.</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU50">></span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char51">/</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU51">?</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char52">Caps Lock</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char53">F1</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char54">F2</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char55">F3</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char56">F4</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char57">F5</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char58">F6</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char59">F7</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char60">F8</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char61">F9</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char62">F10</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char63">F11</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char64">F12</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char65">PrintScreen</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char66">Scroll Lock</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char67">Pause</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char68">Insert</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char69">Home</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char70">PageUp</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char71">Delete Forward</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char72">End</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char73">PageDown</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char74">RightArrow</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char75">LeftArrow</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char76">DownArrow</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char77">UpArrow</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char78">Keypad Num Lock</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU78">Clear</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char79">Keypad /</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char80">Keypad *</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char81">Keypad -</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char82">Keypad +</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char83">Keypad ENTER</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char84">Keypad 1</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU84">End</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char85">Keypad 2</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU85">Down Arrow</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char86">Keypad 3</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU86">PageDn</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char87">Keypad 4</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU87">Left Arrow</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char88">Keypad 5</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char89">Keypad 6</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU89">Right Arrow</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char90">Keypad 7</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU90">Home</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char91">Keypad 8</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU91">Up Arrow</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char92">Keypad 9</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU92">PageUp</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char93">Keypad 0</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU93">Insert</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char94">Keypad .</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU94">Delete</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char95">Non-US \</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="charU95">|</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char96">Application</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char97">Power</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char98">Keypad =</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char99">F13</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char100">F14</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char101">F15</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char102">F16</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char103">F17</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char104">F18</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char105">F19</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char106">F20</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char107">F21</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char108">F22</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char109">F23</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char110">F24</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char111">Execute</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char112">Help</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char113">Menu</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char114">Select</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char115">Stop</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char116">Again</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char117">Undo</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char118">Cut</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char119">Copy</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char120">Paste</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char121">Find</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char122">Mute</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char123">Volume Up</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char124">Volume Down</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char125">Locking Caps Lock</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char126">Locking Num Lock</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char127">Locking Scroll Lock</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char128">Keypad Comma</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char129">Keypad Equal Sign</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char130">International1</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char131">International2</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char132">International3</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char133">International4</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char134">International5</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char135">International6</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char136">International7</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char137">International8</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char138">International9</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char139">LANG1</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char140">LANG2</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char141">LANG3</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char142">LANG4</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char143">LANG5</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char144">LANG6</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char145">LeftControl</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char146">LeftShift</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char147">LeftAlt</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char148">Left GUI</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char149">RightControl</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char150">RightShift</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char151">RightAlt</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="">
		<span id="char152">Right GUI</span>
		<img loading="lazy" alt="" src="/images/svgs/.svg" width="100" class="hand">
	</div>

</div>
