<div id="allChordsList" class="col-sm-12 row chordified" hidden >
	<div class="col-sm-2 row generated" id="ipf">
		<span id="char0">a</span>
		<img loading="lazy" alt="ipf" src="/images/svgs/ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ipf">
		<span id="charU0">A</span>
		<img loading="lazy" alt="tmf_ipf" src="/images/svgs/tmf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ppf_mmf">
		<span id="char1">b</span>
		<img loading="lazy" alt="ppf_mmf" src="/images/svgs/ppf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ppf_mmf">
		<span id="charU1">B</span>
		<img loading="lazy" alt="tmf_ppf_mmf" src="/images/svgs/tmf_ppf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_mpf">
		<span id="char2">c</span>
		<img loading="lazy" alt="ipf_mpf" src="/images/svgs/ipf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ipf_mpf">
		<span id="charU2">C</span>
		<img loading="lazy" alt="tmf_ipf_mpf" src="/images/svgs/tmf_ipf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_rpf">
		<span id="char3">d</span>
		<img loading="lazy" alt="mpf_rpf" src="/images/svgs/mpf_rpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_rpf">
		<span id="charU3">D</span>
		<img loading="lazy" alt="tmf_mpf_rpf" src="/images/svgs/tmf_mpf_rpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf">
		<span id="char4">e</span>
		<img loading="lazy" alt="mpf" src="/images/svgs/mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf">
		<span id="charU4">E</span>
		<img loading="lazy" alt="tmf_mpf" src="/images/svgs/tmf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_ipf">
		<span id="char5">f</span>
		<img loading="lazy" alt="mpf_ipf" src="/images/svgs/mpf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_ipf">
		<span id="charU5">F</span>
		<img loading="lazy" alt="tmf_mpf_ipf" src="/images/svgs/tmf_mpf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_mmf">
		<span id="char6">g</span>
		<img loading="lazy" alt="mpf_mmf" src="/images/svgs/mpf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_mmf">
		<span id="charU6">G</span>
		<img loading="lazy" alt="tmf_mpf_mmf" src="/images/svgs/tmf_mpf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_rmf">
		<span id="char7">h</span>
		<img loading="lazy" alt="pmf_rmf" src="/images/svgs/pmf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_rmf">
		<span id="charU7">H</span>
		<img loading="lazy" alt="tmf_pmf_rmf" src="/images/svgs/tmf_pmf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="imf_tpf">
		<span id="char8">i</span>
		<img loading="lazy" alt="imf_tpf" src="/images/svgs/imf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_imf_tpf">
		<span id="charU8">I</span>
		<img loading="lazy" alt="tmf_imf_tpf" src="/images/svgs/tmf_imf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="imf_ipf">
		<span id="char9">j</span>
		<img loading="lazy" alt="imf_ipf" src="/images/svgs/imf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_imf_ipf">
		<span id="charU9">J</span>
		<img loading="lazy" alt="tmf_imf_ipf" src="/images/svgs/tmf_imf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_mpf">
		<span id="char10">k</span>
		<img loading="lazy" alt="rpf_mpf" src="/images/svgs/rpf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rpf_mpf">
		<span id="charU10">K</span>
		<img loading="lazy" alt="tmf_rpf_mpf" src="/images/svgs/tmf_rpf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_tpf">
		<span id="char11">l</span>
		<img loading="lazy" alt="rpf_tpf" src="/images/svgs/rpf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rpf_tpf">
		<span id="charU11">L</span>
		<img loading="lazy" alt="tmf_rpf_tpf" src="/images/svgs/tmf_rpf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_mpf">
		<span id="char12">m</span>
		<img loading="lazy" alt="mmf_mpf" src="/images/svgs/mmf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mmf_mpf">
		<span id="charU12">M</span>
		<img loading="lazy" alt="tmf_mmf_mpf" src="/images/svgs/tmf_mmf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ppf">
		<span id="char13">n</span>
		<img loading="lazy" alt="ppf" src="/images/svgs/ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ppf">
		<span id="charU13">N</span>
		<img loading="lazy" alt="tmf_ppf" src="/images/svgs/tmf_ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="imf">
		<span id="char14">o</span>
		<img loading="lazy" alt="imf" src="/images/svgs/imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_imf">
		<span id="charU14">O</span>
		<img loading="lazy" alt="tmf_imf" src="/images/svgs/tmf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_imf">
		<span id="char15">p</span>
		<img loading="lazy" alt="ipf_imf" src="/images/svgs/ipf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ipf_imf">
		<span id="charU15">P</span>
		<img loading="lazy" alt="tmf_ipf_imf" src="/images/svgs/tmf_ipf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_tmf">
		<span id="char16">q</span>
		<img loading="lazy" alt="rmf_tmf" src="/images/svgs/rmf_tmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rmf_tmf">
		<span id="charU16">Q</span>
		<img loading="lazy" alt="tmf_rmf_tmf" src="/images/svgs/tmf_rmf_tmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf">
		<span id="char17">r</span>
		<img loading="lazy" alt="rpf" src="/images/svgs/rpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rpf">
		<span id="charU17">R</span>
		<img loading="lazy" alt="tmf_rpf" src="/images/svgs/tmf_rpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf">
		<span id="char18">s</span>
		<img loading="lazy" alt="pmf" src="/images/svgs/pmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf">
		<span id="charU18">S</span>
		<img loading="lazy" alt="tmf_pmf" src="/images/svgs/tmf_pmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf">
		<span id="char19">t</span>
		<img loading="lazy" alt="rmf" src="/images/svgs/rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rmf">
		<span id="charU19">T</span>
		<img loading="lazy" alt="tmf_rmf" src="/images/svgs/tmf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf">
		<span id="char20">u</span>
		<img loading="lazy" alt="mmf" src="/images/svgs/mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mmf">
		<span id="charU20">U</span>
		<img loading="lazy" alt="tmf_mmf" src="/images/svgs/tmf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tpf">
		<span id="char21">v</span>
		<img loading="lazy" alt="mmf_tpf" src="/images/svgs/mmf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mmf_tpf">
		<span id="charU21">V</span>
		<img loading="lazy" alt="tmf_mmf_tpf" src="/images/svgs/tmf_mmf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_pmf">
		<span id="char22">w</span>
		<img loading="lazy" alt="rmf_pmf" src="/images/svgs/rmf_pmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rmf_pmf">
		<span id="charU22">W</span>
		<img loading="lazy" alt="tmf_rmf_pmf" src="/images/svgs/tmf_rmf_pmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_ppf">
		<span id="char23">x</span>
		<img loading="lazy" alt="ipf_ppf" src="/images/svgs/ipf_ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ipf_ppf">
		<span id="charU23">X</span>
		<img loading="lazy" alt="tmf_ipf_ppf" src="/images/svgs/tmf_ipf_ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ppf_ime">
		<span id="char24">y</span>
		<img loading="lazy" alt="ppf_ime" src="/images/svgs/ppf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ppf_ime">
		<span id="charU24">Y</span>
		<img loading="lazy" alt="tmf_ppf_ime" src="/images/svgs/tmf_ppf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_tpf">
		<span id="char25">z</span>
		<img loading="lazy" alt="mpf_tpf" src="/images/svgs/mpf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_tpf">
		<span id="charU25">Z</span>
		<img loading="lazy" alt="tmf_mpf_tpf" src="/images/svgs/tmf_mpf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_imf">
		<span id="char26">1</span>
		<img loading="lazy" alt="pmf_ppf_imf" src="/images/svgs/pmf_ppf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_imf">
		<span id="charU26">!</span>
		<img loading="lazy" alt="tmf_pmf_ppf_imf" src="/images/svgs/tmf_pmf_ppf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_ipf">
		<span id="char27">2</span>
		<img loading="lazy" alt="pmf_ppf_ipf" src="/images/svgs/pmf_ppf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_ipf">
		<span id="charU27">@</span>
		<img loading="lazy" alt="tmf_pmf_ppf_ipf" src="/images/svgs/tmf_pmf_ppf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_imf_ipf">
		<span id="char28">3</span>
		<img loading="lazy" alt="pmf_ppf_imf_ipf" src="/images/svgs/pmf_ppf_imf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_imf_ipf">
		<span id="charU28">#</span>
		<img loading="lazy" alt="tmf_pmf_ppf_imf_ipf" src="/images/svgs/tmf_pmf_ppf_imf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_ipf_imf">
		<span id="char29">4</span>
		<img loading="lazy" alt="pmf_ppf_ipf_imf" src="/images/svgs/pmf_ppf_ipf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_ipf_imf">
		<span id="charU29">$</span>
		<img loading="lazy" alt="tmf_pmf_ppf_ipf_imf" src="/images/svgs/tmf_pmf_ppf_ipf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_ime">
		<span id="char30">5</span>
		<img loading="lazy" alt="pmf_ppf_ime" src="/images/svgs/pmf_ppf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_ime">
		<span id="charU30">%</span>
		<img loading="lazy" alt="tmf_pmf_ppf_ime" src="/images/svgs/tmf_pmf_ppf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_mmf">
		<span id="char31">6</span>
		<img loading="lazy" alt="pmf_ppf_mmf" src="/images/svgs/pmf_ppf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_mmf">
		<span id="charU31">^</span>
		<img loading="lazy" alt="tmf_pmf_ppf_mmf" src="/images/svgs/tmf_pmf_ppf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_mpf">
		<span id="char32">7</span>
		<img loading="lazy" alt="pmf_ppf_mpf" src="/images/svgs/pmf_ppf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_mpf">
		<span id="charU32">&</span>
		<img loading="lazy" alt="tmf_pmf_ppf_mpf" src="/images/svgs/tmf_pmf_ppf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_mmf_mpf">
		<span id="char33">8</span>
		<img loading="lazy" alt="pmf_ppf_mmf_mpf" src="/images/svgs/pmf_ppf_mmf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_mmf_mpf">
		<span id="charU33">*</span>
		<img loading="lazy" alt="tmf_pmf_ppf_mmf_mpf" src="/images/svgs/tmf_pmf_ppf_mmf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_mpf_mmf">
		<span id="char34">9</span>
		<img loading="lazy" alt="pmf_ppf_mpf_mmf" src="/images/svgs/pmf_ppf_mpf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_mpf_mmf">
		<span id="charU34">(</span>
		<img loading="lazy" alt="tmf_pmf_ppf_mpf_mmf" src="/images/svgs/tmf_pmf_ppf_mpf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf_ipf_mpf">
		<span id="char35">0</span>
		<img loading="lazy" alt="pmf_ppf_ipf_mpf" src="/images/svgs/pmf_ppf_ipf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_pmf_ppf_ipf_mpf">
		<span id="charU35">)</span>
		<img loading="lazy" alt="tmf_pmf_ppf_ipf_mpf" src="/images/svgs/tmf_pmf_ppf_ipf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_tpf">
		<span id="char36">Return (ENTER)</span>
		<img loading="lazy" alt="ipf_tpf" src="/images/svgs/ipf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ppf_pmf">
		<span id="char37">ESCAPE</span>
		<img loading="lazy" alt="ppf_pmf" src="/images/svgs/ppf_pmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_tmf">
		<span id="char38">DELETE (Backspace)</span>
		<img loading="lazy" alt="pmf_tmf" src="/images/svgs/pmf_tmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pmf_ppf">
		<span id="char39">Tab</span>
		<img loading="lazy" alt="pmf_ppf" src="/images/svgs/pmf_ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tpf">
		<span id="char40">[ ]</span>
		<img loading="lazy" alt="tpf" src="/images/svgs/tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime">
		<span id="char41">-</span>
		<img loading="lazy" alt="ime" src="/images/svgs/ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ime">
		<span id="charU41">(underscore)</span>
		<img loading="lazy" alt="tmf_ime" src="/images/svgs/tmf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_ipf_tpf">
		<span id="char42">=</span>
		<img loading="lazy" alt="mpf_ipf_tpf" src="/images/svgs/mpf_ipf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_ipf_tpf">
		<span id="charU42">+</span>
		<img loading="lazy" alt="tmf_mpf_ipf_tpf" src="/images/svgs/tmf_mpf_ipf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ppf_tmf">
		<span id="char43">[</span>
		<img loading="lazy" alt="ppf_tmf" src="/images/svgs/ppf_tmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ppf_tmf">
		<span id="charU43">{</span>
		<img loading="lazy" alt="tmf_ppf_tmf" src="/images/svgs/tmf_ppf_tmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ppf_pmf_tmf">
		<span id="char44">]</span>
		<img loading="lazy" alt="ppf_pmf_tmf" src="/images/svgs/ppf_pmf_tmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ppf_pmf_tmf">
		<span id="charU44">}</span>
		<img loading="lazy" alt="tmf_ppf_pmf_tmf" src="/images/svgs/tmf_ppf_pmf_tmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_ppf">
		<span id="char45">\</span>
		<img loading="lazy" alt="rpf_ppf" src="/images/svgs/rpf_ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rpf_ppf">
		<span id="charU45">|</span>
		<img loading="lazy" alt="tmf_rpf_ppf" src="/images/svgs/tmf_rpf_ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_mmf">
		<span id="char46">;</span>
		<img loading="lazy" alt="rmf_mmf" src="/images/svgs/rmf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rmf_mmf">
		<span id="charU46">:</span>
		<img loading="lazy" alt="tmf_rmf_mmf" src="/images/svgs/tmf_rmf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_imf_ipf">
		<span id="char47">'</span>
		<img loading="lazy" alt="ipf_imf_ipf" src="/images/svgs/ipf_imf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ipf_imf_ipf">
		<span id="charU47">"</span>
		<img loading="lazy" alt="tmf_ipf_imf_ipf" src="/images/svgs/tmf_ipf_imf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_ime">
		<span id="char48">`</span>
		<img loading="lazy" alt="ipf_ime" src="/images/svgs/ipf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ipf_ime">
		<span id="charU48">~</span>
		<img loading="lazy" alt="tmf_ipf_ime" src="/images/svgs/tmf_ipf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_mmf">
		<span id="char49">,</span>
		<img loading="lazy" alt="ipf_mmf" src="/images/svgs/ipf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ipf_mmf">
		<span id="charU49"><</span>
		<img loading="lazy" alt="tmf_ipf_mmf" src="/images/svgs/tmf_ipf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ppf_tpf">
		<span id="char50">.</span>
		<img loading="lazy" alt="ppf_tpf" src="/images/svgs/ppf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_ppf_tpf">
		<span id="charU50">></span>
		<img loading="lazy" alt="tmf_ppf_tpf" src="/images/svgs/tmf_ppf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_pmf">
		<span id="char51">/</span>
		<img loading="lazy" alt="rpf_pmf" src="/images/svgs/rpf_pmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_rpf_pmf">
		<span id="charU51">?</span>
		<img loading="lazy" alt="tmf_rpf_pmf" src="/images/svgs/tmf_rpf_pmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="pme">
		<span id="char52">Caps Lock</span>
		<img loading="lazy" alt="pme" src="/images/svgs/pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_rpf_ipf">
		<span id="char53">F1</span>
		<img loading="lazy" alt="ipf_rpf_ipf" src="/images/svgs/ipf_rpf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_rme">
		<span id="char54">F2</span>
		<img loading="lazy" alt="ipf_rme" src="/images/svgs/ipf_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_mmf_tpf">
		<span id="char55">F3</span>
		<img loading="lazy" alt="rpf_mmf_tpf" src="/images/svgs/rpf_mmf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_tpf">
		<span id="char56">F4</span>
		<img loading="lazy" alt="ime_tpf" src="/images/svgs/ime_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_mme">
		<span id="char57">F5</span>
		<img loading="lazy" alt="ipf_mme" src="/images/svgs/ipf_mme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_tpf_imf">
		<span id="char58">F6</span>
		<img loading="lazy" alt="ime_tpf_imf" src="/images/svgs/ime_tpf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_ipf">
		<span id="char59">F7</span>
		<img loading="lazy" alt="ime_ipf" src="/images/svgs/ime_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_mmf">
		<span id="char60">F8</span>
		<img loading="lazy" alt="ime_mmf" src="/images/svgs/ime_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_mpf">
		<span id="char61">F9</span>
		<img loading="lazy" alt="ime_mpf" src="/images/svgs/ime_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_mme">
		<span id="char62">F10</span>
		<img loading="lazy" alt="ime_mme" src="/images/svgs/ime_mme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_rmf">
		<span id="char63">F11</span>
		<img loading="lazy" alt="ime_rmf" src="/images/svgs/ime_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_rpf_ime">
		<span id="char64">F12</span>
		<img loading="lazy" alt="ime_rpf_ime" src="/images/svgs/ime_rpf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ime_rme">
		<span id="char65">PrintScreen</span>
		<img loading="lazy" alt="ime_rme" src="/images/svgs/ime_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_mmf">
		<span id="char66">Scroll Lock</span>
		<img loading="lazy" alt="mmf_pme_mmf" src="/images/svgs/mmf_pme_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_tpf_imf">
		<span id="char67">Pause</span>
		<img loading="lazy" alt="mpf_tpf_imf" src="/images/svgs/mpf_tpf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_tpf_tpf">
		<span id="char68">Insert</span>
		<img loading="lazy" alt="mpf_tpf_tpf" src="/images/svgs/mpf_tpf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_rmf">
		<span id="char69">Home</span>
		<img loading="lazy" alt="mmf_rmf" src="/images/svgs/mmf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tme">
		<span id="char70">PageUp</span>
		<img loading="lazy" alt="mmf_tme" src="/images/svgs/mmf_tme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_ime">
		<span id="char71">Delete Forward</span>
		<img loading="lazy" alt="mmf_ime" src="/images/svgs/mmf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_mpf_mmf">
		<span id="char72">End</span>
		<img loading="lazy" alt="mmf_mpf_mmf" src="/images/svgs/mmf_mpf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_mpf_ipf">
		<span id="char73">PageDown</span>
		<img loading="lazy" alt="ipf_mpf_ipf" src="/images/svgs/ipf_mpf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="imf_mmf">
		<span id="char74">RightArrow</span>
		<img loading="lazy" alt="imf_mmf" src="/images/svgs/imf_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_imf">
		<span id="char75">LeftArrow</span>
		<img loading="lazy" alt="mmf_imf" src="/images/svgs/mmf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_rme">
		<span id="char76">DownArrow</span>
		<img loading="lazy" alt="mmf_rme" src="/images/svgs/mmf_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_mmf_mpf">
		<span id="char77">UpArrow</span>
		<img loading="lazy" alt="mpf_mmf_mpf" src="/images/svgs/mpf_mmf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_tpf_mpf">
		<span id="char78">Keypad Num Lock</span>
		<img loading="lazy" alt="mpf_tpf_mpf" src="/images/svgs/mpf_tpf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_tpf_mpf">
		<span id="charU78">Clear</span>
		<img loading="lazy" alt="tmf_mpf_tpf_mpf" src="/images/svgs/tmf_mpf_tpf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_tme_mpf">
		<span id="char79">Keypad /</span>
		<img loading="lazy" alt="mpf_tme_mpf" src="/images/svgs/mpf_tme_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_imf">
		<span id="char80">Keypad *</span>
		<img loading="lazy" alt="mpf_imf" src="/images/svgs/mpf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_ipf_mpf">
		<span id="char81">Keypad -</span>
		<img loading="lazy" alt="mpf_ipf_mpf" src="/images/svgs/mpf_ipf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_ime">
		<span id="char82">Keypad +</span>
		<img loading="lazy" alt="mpf_ime" src="/images/svgs/mpf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_mmf_pme">
		<span id="char83">Keypad ENTER</span>
		<img loading="lazy" alt="mpf_mmf_pme" src="/images/svgs/mpf_mmf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_mme_ppf">
		<span id="char84">Keypad 1</span>
		<img loading="lazy" alt="mpf_mme_ppf" src="/images/svgs/mpf_mme_ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_mme_ppf">
		<span id="charU84">End</span>
		<img loading="lazy" alt="tmf_mpf_mme_ppf" src="/images/svgs/tmf_mpf_mme_ppf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_rmf">
		<span id="char85">Keypad 2</span>
		<img loading="lazy" alt="mpf_rmf" src="/images/svgs/mpf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_rmf">
		<span id="charU85">Down Arrow</span>
		<img loading="lazy" alt="tmf_mpf_rmf" src="/images/svgs/tmf_mpf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_rpf_mpf_mmf_rmf">
		<span id="char86">Keypad 3</span>
		<img loading="lazy" alt="mpf_rpf_mpf_mmf_rmf" src="/images/svgs/mpf_rpf_mpf_mmf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_rpf_mpf_mmf_rmf">
		<span id="charU86">PageDn</span>
		<img loading="lazy" alt="tmf_mpf_rpf_mpf_mmf_rmf" src="/images/svgs/tmf_mpf_rpf_mpf_mmf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_rme">
		<span id="char87">Keypad 4</span>
		<img loading="lazy" alt="mpf_rme" src="/images/svgs/mpf_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mpf_rme">
		<span id="charU87">Left Arrow</span>
		<img loading="lazy" alt="tmf_mpf_rme" src="/images/svgs/tmf_mpf_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_pme">
		<span id="char88">Keypad 5</span>
		<img loading="lazy" alt="mme_pme" src="/images/svgs/mme_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_tpf">
		<span id="char89">Keypad 6</span>
		<img loading="lazy" alt="mme_tpf" src="/images/svgs/mme_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mme_tpf">
		<span id="charU89">Right Arrow</span>
		<img loading="lazy" alt="tmf_mme_tpf" src="/images/svgs/tmf_mme_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_tme">
		<span id="char90">Keypad 7</span>
		<img loading="lazy" alt="mme_tme" src="/images/svgs/mme_tme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mme_tme">
		<span id="charU90">Home</span>
		<img loading="lazy" alt="tmf_mme_tme" src="/images/svgs/tmf_mme_tme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_imf">
		<span id="char91">Keypad 8</span>
		<img loading="lazy" alt="mme_imf" src="/images/svgs/mme_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mme_imf">
		<span id="charU91">Up Arrow</span>
		<img loading="lazy" alt="tmf_mme_imf" src="/images/svgs/tmf_mme_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_ipf">
		<span id="char92">Keypad 9</span>
		<img loading="lazy" alt="mme_ipf" src="/images/svgs/mme_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mme_ipf">
		<span id="charU92">PageUp</span>
		<img loading="lazy" alt="tmf_mme_ipf" src="/images/svgs/tmf_mme_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_ime">
		<span id="char93">Keypad 0</span>
		<img loading="lazy" alt="mme_ime" src="/images/svgs/mme_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mme_ime">
		<span id="charU93">Insert</span>
		<img loading="lazy" alt="tmf_mme_ime" src="/images/svgs/tmf_mme_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_mmf_pme">
		<span id="char94">Keypad .</span>
		<img loading="lazy" alt="mme_mmf_pme" src="/images/svgs/mme_mmf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mme_mmf_pme">
		<span id="charU94">Delete</span>
		<img loading="lazy" alt="tmf_mme_mmf_pme" src="/images/svgs/tmf_mme_mmf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_mpf_pme">
		<span id="char95">Non-US \</span>
		<img loading="lazy" alt="mme_mpf_pme" src="/images/svgs/mme_mpf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="tmf_mme_mpf_pme">
		<span id="charU95">|</span>
		<img loading="lazy" alt="tmf_mme_mpf_pme" src="/images/svgs/tmf_mme_mpf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_rmf">
		<span id="char96">Application</span>
		<img loading="lazy" alt="mme_rmf" src="/images/svgs/mme_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_rpf">
		<span id="char97">Power</span>
		<img loading="lazy" alt="mme_rpf" src="/images/svgs/mme_rpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mme_rme">
		<span id="char98">Keypad =</span>
		<img loading="lazy" alt="mme_rme" src="/images/svgs/mme_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_pme">
		<span id="char99">F13</span>
		<img loading="lazy" alt="rmf_pme" src="/images/svgs/rmf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_tpf">
		<span id="char100">F14</span>
		<img loading="lazy" alt="rmf_tpf" src="/images/svgs/rmf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_tme">
		<span id="char101">F15</span>
		<img loading="lazy" alt="rmf_tme" src="/images/svgs/rmf_tme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="imf_mme_imf">
		<span id="char102">F16</span>
		<img loading="lazy" alt="imf_mme_imf" src="/images/svgs/imf_mme_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_tpf_ipf">
		<span id="char103">F17</span>
		<img loading="lazy" alt="rmf_tpf_ipf" src="/images/svgs/rmf_tpf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_ime">
		<span id="char104">F18</span>
		<img loading="lazy" alt="rmf_ime" src="/images/svgs/rmf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_mmf_rmf">
		<span id="char105">F19</span>
		<img loading="lazy" alt="rmf_mmf_rmf" src="/images/svgs/rmf_mmf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_mpf">
		<span id="char106">F20</span>
		<img loading="lazy" alt="rmf_mpf" src="/images/svgs/rmf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_mme">
		<span id="char107">F21</span>
		<img loading="lazy" alt="rmf_mme" src="/images/svgs/rmf_mme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_rpf_rmf">
		<span id="char108">F22</span>
		<img loading="lazy" alt="rmf_rpf_rmf" src="/images/svgs/rmf_rpf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rmf_rme">
		<span id="char109">F23</span>
		<img loading="lazy" alt="rmf_rme" src="/images/svgs/rmf_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_pme">
		<span id="char110">F24</span>
		<img loading="lazy" alt="rpf_pme" src="/images/svgs/rpf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_tpf_ipf">
		<span id="char111">Execute</span>
		<img loading="lazy" alt="ipf_tpf_ipf" src="/images/svgs/ipf_tpf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme">
		<span id="char112">Help</span>
		<img loading="lazy" alt="mmf_pme" src="/images/svgs/mmf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_imf">
		<span id="char113">Menu</span>
		<img loading="lazy" alt="rpf_imf" src="/images/svgs/rpf_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_ipf">
		<span id="char114">Select</span>
		<img loading="lazy" alt="rpf_ipf" src="/images/svgs/rpf_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_ime">
		<span id="char115">Stop</span>
		<img loading="lazy" alt="rpf_ime" src="/images/svgs/rpf_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tme_mmf">
		<span id="char116">Again</span>
		<img loading="lazy" alt="mmf_tme_mmf" src="/images/svgs/mmf_tme_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mpf_rpf_mpf">
		<span id="char117">Undo</span>
		<img loading="lazy" alt="mpf_rpf_mpf" src="/images/svgs/mpf_rpf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_mme">
		<span id="char118">Cut</span>
		<img loading="lazy" alt="rpf_mme" src="/images/svgs/rpf_mme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_rmf">
		<span id="char119">Copy</span>
		<img loading="lazy" alt="rpf_rmf" src="/images/svgs/rpf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rpf_rme_rpf">
		<span id="char120">Paste</span>
		<img loading="lazy" alt="rpf_rme_rpf" src="/images/svgs/rpf_rme_rpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_pme">
		<span id="char121">Find</span>
		<img loading="lazy" alt="rme_pme" src="/images/svgs/rme_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_tpf_rme">
		<span id="char122">Mute</span>
		<img loading="lazy" alt="rme_tpf_rme" src="/images/svgs/rme_tpf_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_tme">
		<span id="char123">Volume Up</span>
		<img loading="lazy" alt="rme_tme" src="/images/svgs/rme_tme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_imf">
		<span id="char124">Volume Down</span>
		<img loading="lazy" alt="rme_imf" src="/images/svgs/rme_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_ipf">
		<span id="char125">Locking Caps Lock</span>
		<img loading="lazy" alt="rme_ipf" src="/images/svgs/rme_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_ime">
		<span id="char126">Locking Num Lock</span>
		<img loading="lazy" alt="rme_ime" src="/images/svgs/rme_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_mmf">
		<span id="char127">Locking Scroll Lock</span>
		<img loading="lazy" alt="rme_mmf" src="/images/svgs/rme_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_mpf">
		<span id="char128">Keypad Comma</span>
		<img loading="lazy" alt="rme_mpf" src="/images/svgs/rme_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_mme">
		<span id="char129">Keypad Equal Sign</span>
		<img loading="lazy" alt="rme_mme" src="/images/svgs/rme_mme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_rmf_mpf">
		<span id="char130">International1</span>
		<img loading="lazy" alt="rme_rmf_mpf" src="/images/svgs/rme_rmf_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="rme_rpf_rme">
		<span id="char131">International2</span>
		<img loading="lazy" alt="rme_rpf_rme" src="/images/svgs/rme_rpf_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tpf_tpf">
		<span id="char132">International3</span>
		<img loading="lazy" alt="mmf_tpf_tpf" src="/images/svgs/mmf_tpf_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_tpf">
		<span id="char133">International4</span>
		<img loading="lazy" alt="mmf_pme_tpf" src="/images/svgs/mmf_pme_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_tme">
		<span id="char134">International5</span>
		<img loading="lazy" alt="mmf_pme_tme" src="/images/svgs/mmf_pme_tme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_imf">
		<span id="char135">International6</span>
		<img loading="lazy" alt="mmf_pme_imf" src="/images/svgs/mmf_pme_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="imf_pme_ipf">
		<span id="char136">International7</span>
		<img loading="lazy" alt="imf_pme_ipf" src="/images/svgs/imf_pme_ipf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_ime">
		<span id="char137">International8</span>
		<img loading="lazy" alt="mmf_pme_ime" src="/images/svgs/mmf_pme_ime.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_mmf_rpf">
		<span id="char138">International9</span>
		<img loading="lazy" alt="mmf_pme_mmf_rpf" src="/images/svgs/mmf_pme_mmf_rpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_mpf">
		<span id="char139">LANG1</span>
		<img loading="lazy" alt="mmf_pme_mpf" src="/images/svgs/mmf_pme_mpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_mme">
		<span id="char140">LANG2</span>
		<img loading="lazy" alt="mmf_pme_mme" src="/images/svgs/mmf_pme_mme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_rmf">
		<span id="char141">LANG3</span>
		<img loading="lazy" alt="mmf_pme_rmf" src="/images/svgs/mmf_pme_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_rpf">
		<span id="char142">LANG4</span>
		<img loading="lazy" alt="mmf_pme_rpf" src="/images/svgs/mmf_pme_rpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_rme">
		<span id="char143">LANG5</span>
		<img loading="lazy" alt="mmf_pme_rme" src="/images/svgs/mmf_pme_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tpf_mme">
		<span id="char144">LANG6</span>
		<img loading="lazy" alt="mmf_tpf_mme" src="/images/svgs/mmf_tpf_mme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tpf_rmf">
		<span id="char145">LeftControl</span>
		<img loading="lazy" alt="mmf_tpf_rmf" src="/images/svgs/mmf_tpf_rmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="ipf_pme">
		<span id="char146">LeftShift</span>
		<img loading="lazy" alt="ipf_pme" src="/images/svgs/ipf_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tpf_rme">
		<span id="char147">LeftAlt</span>
		<img loading="lazy" alt="mmf_tpf_rme" src="/images/svgs/mmf_tpf_rme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tme_pme">
		<span id="char148">Left GUI</span>
		<img loading="lazy" alt="mmf_tme_pme" src="/images/svgs/mmf_tme_pme.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tme_tpf">
		<span id="char149">RightControl</span>
		<img loading="lazy" alt="mmf_tme_tpf" src="/images/svgs/mmf_tme_tpf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_pme_tme_mmf">
		<span id="char150">RightShift</span>
		<img loading="lazy" alt="mmf_pme_tme_mmf" src="/images/svgs/mmf_pme_tme_mmf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="mmf_tme_imf">
		<span id="char151">RightAlt</span>
		<img loading="lazy" alt="mmf_tme_imf" src="/images/svgs/mmf_tme_imf.svg" width="100" class="hand">
	</div>
	<div class="col-sm-2 row generated" id="imf_ipf_imf_ipf">
		<span id="char152">Right GUI</span>
		<img loading="lazy" alt="imf_ipf_imf_ipf" src="/images/svgs/imf_ipf_imf_ipf.svg" width="100" class="hand">
	</div>

</div>
